In [ ]:
import pandas as pd
import numpy as np

df1 = pd.read_csv(r'c:\Users\Sunny\OneDrive\Desktop\Project1\uncleandata.csv')
df2 = pd.read_csv(r"C:\Users\Sunny\OneDrive\Desktop\Project1\breast_cancer3.csv")


df1.columns = df1.columns.str.lower()
df2.columns = df2.columns.str.lower()

In [ ]:
#cleaning up df1 removing columns
updated_df1 = df1.drop(columns=['race','marital status','differentiate','grade','6th stage','a stage'])

updated_df1

In [ ]:
updated_df2 = df2.drop(columns=['age1','deg-malig','tumor-size','inv-nodes','node-caps'])

updated_df2

In [56]:
df1['age'] = df1['age'].astype('int64')
df2['age'] = df2['age'].astype('int64')

#  Merged Dataframe
merged_df = pd.merge(updated_df1,updated_df2, on='age')

merged_df.columns = merged_df.columns.str.capitalize()

merged_df

,Age,T stage,N stage,Tumor size,Estrogen status,Progesterone status,Regional node examined,Reginol node positive,Survival months,Status,Menopause,Breast,Breast-quad,Irradiat,Class
0,47,T2,N1,41,Positive,Positive,3,1,50,Alive,premeno,left,right_up,no,recurrence-events
1,47,T2,N1,40,Positive,Positive,3,1,52,Alive,premeno,left,right_up,no,recurrence-events
2,47,T1,N1,16,Positive,Positive,25,1,73,Alive,premeno,left,right_up,no,recurrence-events
3,47,T1,N1,17,Negative,Negative,15,1,51,Alive,premeno,left,right_up,no,recurrence-events
4,47,T2,N1,25,Positive,Positive,11,2,103,Alive,premeno,left,right_up,no,recurrence-events
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31710,35,T1,N1,19,Positive,Positive,15,2,56,Alive,premeno,left,left_low,yes,no-recurrence-events
31711,35,T1,N1,19,Positive,Positive,15,2,56,Alive,premeno,left,central,no,no-recurrence-events
31712,35,T1,N1,19,Positive,Positive,15,2,56,Alive,premeno,left,left_low,no,recurrence-events
31713,35,T1,N1,19,Positive,Positive,15,2,56,Alive,premeno,right,left_up,yes,no-recurrence-events
31714,35,T1,N1,19,Positive,Positive,15,2,56,Alive,premeno,right,right_up,no,no-recurrence-events

In [57]:
#merged_df.to_csv('output.csv', index=False)